html,
body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

/* body {
  background: url(assets/img/background.jpg) no-repeat center center/cover;
  font-family: "poppins", sans-serif;
  margin: 50px 50px 0 50px;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
} */

h1,
h2,
h3 {
  font-family: "Mylius Modern", sans-serif;
}
